.Caratula
    height: 120vh
    width: 100vw
    background-image: url('../image/Caratula.jpg')
    background-size: cover
    background-repeat: no-repeat
    overflow-x: hidden
    text-align: center
.ListaInformacion
    margin: 0
    list-style: none
    font-size: 6rem
    -webkit-text-stroke: 2px white
    color: black
    font-family: $Textos
.Flecha_Down
    font-size: 8rem