.navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1030  
    height: 75px
    width: 100vw
    background-image: linear-gradient(90deg, rgba(16,56,222,1) 0%, rgba(255,255,255,1) 47%, rgba(255,0,0,1) 100%)
    border-bottom-left-radius: 4rem
    border-bottom-right-radius: 3rem
.Nav_List
    display: flex
    justify-content: flex-end
    margin: 0
    margin-right: 15px
    padding-right: 5rem
.Nav_List__Item
    overflow-y: hidden !important
    margin-left: 15px
    font-family: $Textos
    font-size: 3rem
    color: white
    text-decoration: none
.menu__barras
    display: none
    float: right
    margin: 10px 20px
.Nav_List__Item--close
    display: none
